@inject NavigationManager NavManager
@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <a class="btn btn-none" href="identity/account/login">Login</a>
            <a class="btn btn-none" href="identity/account/register">Register</a>
            <a class="btn btn-none text-danger" @onclick="Logout" href="identity/account/register">Logout</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    async Task Logout()
    {
        var logoutModel = new UserSessionDto();
        var customAuthStateProvider = (CustomAuthenticationStateProvider)AuthStateProvider;
        await customAuthStateProvider.UpdateAuthenticationStateAsync(logoutModel);
        NavManager.NavigateTo("/", forceLoad: true);
    }
}
